@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div>
        <p>This is my new element pushed via Github Actions.</p>
    </div>
    <div>
        <p>Here is my quote from Plato:</p>
        <blockquote cite="https://www.pinterest.ca/pin/441423200960535469">
            The highest form of knowledge is empathy, for it requires us to suspend our egos and live in another's world. It requires profound purpose larger than the self kind of understanding.
        </blockquote>
    </div>
</div>
